@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Poppins', system-ui, sans-serif;
  }
}

@layer components {
  .btn {
    @apply p-4 h-14 w-36 text-white text-center font-medium tracking-normal text-base border border-white border-opacity-35 transition-all;
  }
  .btn-primary {
    @apply py-2 px-5 bg-bg-primary text-white font-semibold shadow-lg hover:bg-crl-white-1  hover:border-2 hover:text-black focus:outline-none focus:ring focus:ring-violet-400 focus:ring-opacity-75;
  }
  .navbar {
    @apply flex relative justify-between w-full p-5 text-text-blue font-medium;
  }
  .card {
    @apply flex flex-col basis-[32.33%] p-4 rounded-[20px]  transition-all bg-blue hover:bg-text-blue-2 text-white gap-2 border-2 border-clr-grey-1 shadow-xl hover:shadow-2xl text-ellipsis;
  }
}

/*
###############################
-----> GLOBAL STYLING <-------- 
###############################
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  position: relative;
  background-color: #F3F4F6;
  height: 100vh;
  width: 100vw;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  overflow-x: hidden;
}
.container {
  margin: 0 auto;
  max-width: 1000vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}
ul li {
  list-style: none;
}

.title {
  position: relative;
  font-size: 28px;
  font-weight: 700;
  color: #30d8fb;
  text-transform: capitalize;
  z-index: 10;
}
.title::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 80px;
  height: 4px;
  background: #a00;
}
.title::before {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 40px;
  height: 4px;
  background: #a00;
}

.title-s {
  position: absolute;
  top: -18px;
  left: 0;
  font-size: 40px;
  font-weight: 800;
  color: #767676;
  z-index: -10;
  opacity: 0.1;
}

/*
###############################
-----> HOME STYLING <-------- 
###############################
*/

#home {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: url(./assets/images/bg-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/*navbar*/
nav ul > li {
  font-weight: 600;
  font-size: 16px;
  transition: all 0.2s ease;
}

.navFixed {
  position: fixed;
  z-index: 99;
  top: 0;
  background: #292e97;
  height: 80px;
}
.navFixed .nav_links li {
  color: #fff;
}

.navFixed .nav_links li:hover {
  color: #a00;
}

.logo img {
  position: relative;
  margin-top: -20px;
  max-height: 130px;
  padding: 0;
}
.navFixed .logo img {
  height: 90px;
  margin-top: -25px;
  left: -20px;
}
.logo img:hover {
  cursor: pointer;
}

/*Hero*/

.hero {
  position: relative;
  justify-content: center;
  display: grid;
  height: 100%;
  grid-template-columns: 2fr 2fr;
  margin-top: 35px;
}
.hero .left {
  margin-top: -20px;
  margin-left: 150px;
  padding: 10px;
}
.hero-text {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  font-size: 55px;
  align-items: flex-start;
  color: rgb(0, 83, 167);
  text-align: center;
  line-height: 41px;
  letter-spacing: 0px;
  font-weight: 800;
  margin-bottom: 30px;
}

.hero .right {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 40px;
  margin-top: -20px;
}
.hero .right img {
  height: 400px;
}

.hero-info .left, #fast_delivery .left {
  background: url('./assets/images/hero-bg.png');
  background-position: right;
  background-repeat: round;
}
